* {
    font-family: "Space Grotesk", sans-serif;
}

#header {
    text-align: center;
    padding: 20px;
    color: #5356FF;
}

form {
    width: 75%;
}

.calculator-container {
    display: flex;
    margin: auto;
    width: 350px;
    border-radius: 10px;
    padding: 0 0 10px 0;
    align-items: center;
    justify-items: center;
    justify-content: center;
    text-align: center;
    background-color: #DFF5FF;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-group {
    text-align: left;
    padding: 10px;
}

button {
    padding: 5px 20px;
    border: none;
    color: #fff;
    background-color: #5356FF;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.4);
}

#result {
    padding: 15px 0 10px 0;
    font-size: 30px;
}

#info {
    padding: 0 0 15px 0;
    font-size: 20px;
}

